{% extends 'base.html' %}

{% block content %}
    <div class="m-2">
        <div class="row">
            <img src="" alt="" class="col-3">    
            <div class="col-9">
                <h1 class="text-center">{{user_info.username}}</h1>
                <p>follower : {{user_info.follower.all|length}}명</p>
                <p>following : {{user_info.following.all|length}}명</p>
                {% if user != user_info %}
                    {% if user in user_info.follower.all %}
                        <a href="{% url 'accounts:following' user_info.id %}" class="btn btn-danger">unfollow</a>
                    {% else %}
                        <a href="{% url 'accounts:following' user_info.id %}" class="btn btn-primary">following</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </div>

    <div>
        {% for post in user_info.post_set.all %}
            {% include 'posts/_card.html' %}
        {% endfor%}

    </div>
{% endblock %}