{% load bootstrap5 %}
<div class="card mb-3" style="width: 18rem;">
    <img src="{{post.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <p>
            <a href="{% url 'posts:likes' post.id %}" class="text-reset text-decoration-none">
                {% if user in post.like_users.all %}
                    <i class="fa-solid fa-heart" style="color: red"></i>
                {% else %}
                    <i class="fa-regular fa-heart"></i>
                {% endif %}
                {{post.like_users.all|length}} 명이 좋아합니다.
            </a>
        </p>
        <p class="card-text">{{post.content}}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

        {% if post.user == user %}
        <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger btn-sm">delete</a>
        {% endif %}

    </div>
    <div class="card-footer text-body-secondary">
        {{post.created_at|timesince}}

    </div>
    <ul class="list-group list-group-flush">
        {% for comment in post.comment_set.all %}
            <li class="list-group-item"><a href="{% url 'accounts:profile' comment.user.username %}">{{comment.user}}</a> : {{comment.content}}</li>
        {% endfor %}
    </ul>

    {% if comment_form %}
    <div class="card-body">
        <form action="{% url 'posts:comments_create' post.id %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" class="btn btn-sm btn-primary">
        </form>
    </div>
    {% endif %}
</div>